.bgcolor-red{
    background-color:red;
}

.bgcolor-orange{
    background-color:orange;
}

.bgcolor-yellow{
    background-color:yellow;
}

.bgcolor-green{
    background-color:green;
}
